.square {
  width: 100px;
  height: 100px;
  background-color: darkorange;
  border: 2px solid #000;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
}

.roll-down-hill-animation {
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rollDownHill;
}

@keyframes rollDownHill {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(400px) rotate(90deg);
    background-color: blueviolet;
    width: 25px;
    height: 25px;
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}


.puls {
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pulsate;
}
 
@keyframes pulsate {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(2); color: red;
  }
  100%{
    transform: scale(1);
  }

}

.scale-2 {
    transform: scale(2);
}