.d-flex {
  display: flex;
}

.d-none {
  display: none;
}
.flex-center {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-gap {
  gap: 10px;
}
.flex-fill {
  flex: 1 1 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
.card {
  /* min-width: 100px; */
  min-height: 100px;
  background-color: rgb(104, 156, 158);
  font-size: 2em;
  padding: 40px;
}
.modal-gallery-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.modal-gallery {
  height: 100vh;
  overflow: auto;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.247);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.card-gallery {
  width: calc(25vw - 30px);
  max-width: 300px;
  min-width: 200px;
  height: calc(25vh - 30px);
  background-color: aliceblue;
  overflow: auto;
}

.card-gallery-png {
  background-image: url("img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
