@import "style-base.css";

:root {
  --oriceNumeVariabila: #ffcc00;

  --color-r: 255;
  --color-g: 0;
  --color-b: 0;
}

input[cant-touch-this] {
  background-color: #ffcc00;
}
*::selection {
  background-color: #ffcc00;
  color: #fff;
}

.position-initial {
  position: initial;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.z-index0 {
  z-index: 0;
}

.z-index1 {
  z-index: 1;
}

.z-index2 {
  z-index: 2;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.card {
  border: 1px solid #aaa;
  min-height: 200px;
  width: 500px;
  position: relative;
}
.card button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.col50 {
  display: block;
}
.responsive-list li {
  padding: 10px;
  background-color: green;
  margin: 10px;
  border: 1px solid black;
}


@media (min-width: 900px) {

    .col50 {
        
        --color-r: 0;
        --color-g: 255;
        --color-b: 0;
      }

  .col50 {
    display: inline-block;
    width: calc(50% - 15px);
    border: 1px solid #000;
  }
  .responsive-list li {
    min-width: 100px;
  }
}
@media (min-width: 600px) {
  .responsive-list li {
    display: inline-block;
  }

  .show-red {
    background-color: rgb(var(--color-r), var(--color-g), var(--color-b));
  }
}
