table.checkers, 
table.transition {
  border-collapse: separate;
}

table.checkers tr td,
table.transition tr td {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #000;
}


table.checkers tr:nth-child(1) td:nth-child(5) {
  background-color: pink;
}

table.checkers tr:nth-child(2) td:nth-child(4) {
  background-color: pink;
}

table.checkers tr:nth-child(3) td:nth-child(3) {
  background-color: pink;
}

table.checkers tr:nth-child(4) td:nth-child(2) {
  background-color: pink;
}

table.checkers tr:nth-child(5) td:nth-child(1) {
  background-color: pink;
}

/*# sourceMappingURL=pseudo.css.map */

/* 
// color cells on first diagonal
@for $i from 1 through 5 {
  table.checkers tr:nth-child(#{$i}) td:nth-child(#{$i}) {
    background-color: pink;
  }
}

// color cells on second diagonal
@for $i from 1 through 5 {
  table.checkers tr:nth-child(#{$i}) td:nth-child(#{6 - $i}) {
    background-color: pink;
  }
} */

.boring-text::after {
  content: "This is so boring!!!";
  color: red;
}

.cool-text::after {
  content: "This is so cool!!!";
  color: green;
}

.toggle-css {
  display: block;
  background-color: rgb(34, 229, 161);
  width: 100px;
  height: 30px;
  color: #fff;
  /*padding: 5px 10px;*/
  border-radius: 50px;
  position: relative;
}

.toggle-css__ball {
  display: block;
  width: 100%;
}

.toggle-css__ball::before {
  transition: left 0.8s ease-in-out;
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #22e5a1;
  box-shadow: 0 0 0px 2px #fff;
  top: 5px;
  left: 5px;
}

.toggle-css input {
  display: none;
}

.toggle-css input:checked + .toggle-css__ball::before {
  transition: left 0.8s ease-in-out;
  left: 75px;
}

.toggle-css input + .toggle-css__ball::after {
  content: "\F62A";
  color: rgb(255, 0, 0);
  font-family: bootstrap-icons;
  position: absolute;
  top: 7px;
  left: 7px;

  transition: left 0.8s ease-in-out, color 0.8s ease-in-out,
    content 0.8s ease-in-out;
}

.toggle-css input:checked + .toggle-css__ball::after {
  content: "\F26E";
  color: #fff;
  font-family: bootstrap-icons;
  position: absolute;
  top: 7px;
  left: 77px;
  transition: left 0.8s ease-in-out, color 0.8s ease-in-out,
    content 0.8s ease-in-out;
}

input::placeholder {
  color: green;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  text-decoration: underline;
}

/* .toggle-css input:checked + something */



