html,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #f2f2f2;

  color: #444;
}

* {
  box-sizing: border-box;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.m-4 {
  margin: 40px;
}

.d-inline-block {
  display: inline-block;
}