/* added from original style.css */

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* selectors page */

.btn[disabled] {
  padding: 5px;
  background-color: yellow;
  color: #000;
}

input[checked] + label {
  background-color: green;
}

input[type="text"] {
  background-color: red;
}
div[value] {
  color: red;
  border: 2px green dotted;
}
div[random="ceva"] {
  color: aqua;
}
div[atribute*="Jani"] {
  color: blue;
}

.elem1 {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 50px;
}

.elem2 {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
}

.elem1,
.elem2 {
  padding: 10px;
  border: 1px solid #000;
}

.elem1 {
  margin-bottom: 50px;
}

.elem2 {
  margin-bottom: 20px;
}

table tr th,
table tr td {
  padding: 5px 10px;
  border: 1px solid grey;
}

.parent {
  display: block;
  border: 1px solid #000;
  padding: 10px;
}

.child {
  display: inline-block;
}

.grandchild {
  background-color: lightblue;
}
.parent div div {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(86, 47, 122, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px;
}
.parent > div {
  background: linear-gradient(
    90deg,
    rgb(53, 173, 23) 0%,
    rgb(122, 47, 91) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

ul.adjacent-test li.target-li {
  color: rgb(53, 173, 23);
}
ul.adjacent-test li.target-li ~ li {
  color: blue;
}

ul.adjacent-test li.target-li.li-specific {
  color: red;
}

.pseudo :first-child {
  color: blue;
}

/* .pseudo li:first-child {
  color: green;
} */

.pseudo :last-child {
  color: orangered;
}

.pseudo :only-child {
  color: orange;
}

.pseudo :empty {
  width: 100px;
  height: 100px;
  background-color: pink;
}
/* 
.pseudo :nth-child(3n+1) {
  background-color: blue;
} */

.pseudo :nth-child(-n + 5) {
  background-color: rgb(255, 0, 140);
}

.pseudo :nth-last-child(-n + 2) {
  background-color: blueviolet;
}

.pseudo-type p:nth-of-type(-n + 1) {
  background-color: lime;
}

.pseudo-type div:nth-child(-n + 2) {
  background-color: yellow;
}

.pseudo-type p:nth-last-of-type(-n + 2) {
  background-color: burlywood;
}


.btn {
    background-color: blue;
    color: white;
    border:1px solid darkblue;
    padding:5px 10px;

}

.btn:hover {
    background-color: rgb(1, 1, 209);
    border:1px solid rgb(0, 0, 96);
}

.btn:active {
    background-color: rgb(140, 1, 209);
    border:1px solid rgb(61, 0, 96);
}

.btn:focus {
    background-color: rgb(161, 0, 241);
    border:1px solid rgb(104, 0, 164);
}