
button {
  background-color: blueviolet;
  border: 1px solid transparent;
  /* padding: 5px 10px; */
  border-radius: 5px;
  color: #fff;
}

.padding {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 20px;

  padding: 10px 30px 5px;
}

.margin {
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-left: 20px;

  margin: 10px 30px 5px;
}

.background {
  /* background-image: url("lizard.png");
  background-repeat: no-repeat;
  background-position: 0 0; */

  background: url("lizard.png") 50% 50% no-repeat;
}

.border {
  border: 2px;
}
.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-table {
  display: table;
}

.d-row {
  display: row;
}

.d-td {
  display: table-cell;
}

.display-list > li > span {
  padding: 5px;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 5px;
  border: 1px solid #ddd;
}

.visibility {
  visibility: hidden;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  height: 100vh;
  width: 100vw;
  background-color: #eee;
}

.child {
  max-height: calc(100vh - 100px);
  background-color: rgb(86, 86, 86);
}

.overflow {
  overflow: auto;
}
