.scale {
	transform: scale(1.3);
}

.transition {
	margin-bottom: 30px;
}

.transition tr td {
	position: relative;
}

.transition tr td div {
	height: 100%;
	width: 100%;
	position: absolute;
	transform: scale(1);
	top: 0;
	transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
	left: 0;
}

.transition tr td div:hover {            
	transform: scale(1.3) rotate(50deg); 
	transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
	background-color: aquamarine;
	z-index: 2;
	cursor: pointer;
}                                                                                                                                              

.btn {
    transform: translate(50%);
    transition: transform 1s ease-in;
}
.btn-sweep{
    color: black;
    position: relative;
    padding: 16px;
    background-color: #e1e1e1;
    display: inline-block;
    border: none;
    cursor: pointer;
    transform: perspective(1px ) translateZ(0px);
    overflow: hidden
}
.btn-sweep::before{
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    transform: translateX(-100%);
	background-color: #343480;
    transition: transform .5s ease-in-out;
}

.btn-sweep:hover::before {
    transform: translateX(0);
    transition: transform .5s ease-in-out;
}
button.bb {
    /* abridged css values */
    transform: perspective(100px) translateZ(0px);
    transition: transform 100ms linear;
  }
  
  button.bb:hover {
    transform: perspective(100px) translateZ(5px);
  }